@model HoneymoonShop.Models.Blog

@{ }
@section HeaderOverlay{}
<div class="container containerstyle">

    <!--titels-->
    <div class="row center">
        <div class="col-md-6 titles">
            <div class="title-big">Blog</div>
            <div class="title">BLIJF OP DE HOOGTE OVER <br />DE BRUIDSWERELD</div>
        </div>
    </div>

    <!--menu buttons-->
    <div class="row center" style="margin-bottom:70px;">
        <button type="button" onclick="" class="menu-button">Collectie (1)</button>
        <button type="button" onclick="" class="menu-button">Evenement (1)</button>
        <button type="button" onclick="" class="menu-button">Artikel/nieuws(1)</button>
        <button type="button" onclick="" class="menu-button">Lovely real brides (1)</button>
    </div>

    <!--top section-->
    <div class="row blog-top-picture">
        <div class="col-md-4 blog-top-block">
            <div class="top-block-header">
                <div class="block-item-titel">EVENEMENT</div>
                <div class="block-item-date">
                    <div style="font-size:1.95em">10</div>
                    <div>JAN</div>
                </div>
            </div>
            <div class="block-item-text">
                Afgelopen weekend waren wij op de Love & Marriage beurs in Ahoy
                te Rotterdam. Hier hebben wij de mooiste jurken uit de 2017
                collectie geshowd.
            </div>
            <div class="block-item-text"><u><a href="http://google.nl">Lees meer</a></u> <strong>&#8594;</strong></div>
        </div>
        <div class="col-md-4 blog-top-block">
            <div class="top-block-header">
                <div class="block-item-titel">EVENEMENT</div>
                <div class="block-item-date">
                    <div style="font-size:1.95em">10</div>
                    <div>JAN</div>
                </div>
            </div>
            <div class="block-item-text">
                Afgelopen weekend waren wij op de Love & Marriage beurs in Ahoy
                te Rotterdam. Hier hebben wij de mooiste jurken uit de 2017
                collectie geshowd.
            </div>
            <div class="block-item-text"><u><a href="http://google.nl">Lees meer</a></u> <strong>&#8594;</strong></div>
        </div>
    </div>

    <!--blog item rows-->
    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">COLLECTIE</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top" style="border-bottom-color:cornflowerblue;">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top" style="border-bottom-color:aquamarine">NIEUWS</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <div class="blog-item-picture"></div>
        </div>
    </div>

    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">ARTIKEL</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Van Pinterest droom naar de werkelijkheid</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">Moet nog</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <div class="blog-item-picture"></div>
        </div>
    </div>

    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">COLLECTIE</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">moet nog</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <div class="blog-item-picture"></div>
        </div>
    </div>

    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">COLLECTIE</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">NIEUWS</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Het nieuwe magazine is uit! Vraag hem gratis aan.</div>
            <div class="blog-item-picture"></div>
        </div>
    </div>

    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">ARTIKEL</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Van Pinterest droom naar werkelijkheid.</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">moet nog</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <div class="blog-item-picture"></div>
        </div>
    </div>

    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">COLLECTIE</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <div class="blog-item-picture"></div>
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">moet nog</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <div class="blog-item-picture"></div>
        </div>
    </div>

    <!--berichten button-->
    <div class="row berichten-display">
        <button type="button" onclick="" class="col-md-3 berichten-button">MEER BERICHTEN</button>
        <div class="arrow-down"></div>
    </div>

    <!--bottom pic-->
    <div class="row">
        <div class="col-md-12 blog-bottom-picture"></div>
    </div>
</div>

